@keyframes burger {
  0% {
    transform: scale(1); }
  80% {
    transform: scale(1); }
  85% {
    transform: scale(1.05); }
  90% {
    transform: scale(1); }
  95% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 78px 78px 8px 78px;
  z-index: 2; }
  @media screen and (max-width: 700px) {
    .header {
      padding: 8px 8px 8px 8px; } }
  .header .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header .header__logo-wrapper {
    width: 300px; }
    @media screen and (max-width: 700px) {
      .header .header__logo-wrapper {
        width: 200px; } }
  .header .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    background: #5f3892;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: left 0.1s ease-in-out; }
    .header .header__nav h5 {
      opacity: 0;
      transition: opacity 0.2s ease-in-out; }
    .header .header__nav.active {
      left: 0%; }
      .header .header__nav.active h5 {
        opacity: 1; }

.header__toggle-btn {
  top: 20px;
  right: 10px;
  z-index: 9999;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.1s ease-in-out;
  animation: burger 5s infinite; }
  .header__toggle-btn:hover {
    cursor: pointer;
    transform: scale(1.1); }
  .header__toggle-btn .header__burger-slice {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 40px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px; }
    .header__toggle-btn .header__burger-slice:first-child {
      margin-top: -10px; }
    .header__toggle-btn .header__burger-slice:last-child {
      margin-top: 10px; }
  .header__toggle-btn.active .header__burger-slice:first-child {
    margin-top: 0; }
  .header__toggle-btn.active .header__burger-slice:last-child {
    margin-top: 0; }

body {
  overflow-x: hidden; }

.nav-main {
  position: absolute;
  overflow: hidden;
  padding: 90px 0px 0px 0px;
  height: 100vh;
  width: 0%;
  margin-left: 0%;
  top: 0;
  right: 0;
  z-index: 9998;
  transition: all 0.15s ease-in-out; }
  .nav-main.active {
    padding: 90px 40px 40px 40px;
    width: 90%;
    margin-left: 10%; }

.nav-main ul {
  list-style: none; }
  .nav-main ul li {
    padding: 4px 0px; }
    .nav-main ul li a {
      text-decoration: none;
      position: relative;
      text-transform: uppercase; }
      .nav-main ul li a::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0%;
        height: 2px;
        transition: all 0.2s linear; }
      .nav-main ul li a:hover::after {
        width: 100%; }

.skip-link {
  display: none; }
  .skip-link:focus {
    display: block; }

.hero {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  max-height: 1080px; }
  .hero__content {
    color: #fff;
    text-align: center;
    max-width: 960px;
    margin-top: 181px; }
    .hero__content h1 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 3em;
      line-height: 1.2;
      letter-spacing: 1px;
      margin-bottom: 16px; }
      @media screen and (min-width: 700px) {
        .hero__content h1 {
          font-size: 102px; } }
    .hero__content p {
      font-size: 30px;
      font-weight: 200;
      margin-bottom: 64px; }
  .hero__button {
    position: relative;
    width: 74px;
    height: 74px;
    background: #5f3892;
    display: block; }
  .hero__button-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 23px; }
