
 /**
  * Social media
  */
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-linkedin: #0077b5;

/* Theme */
$almost-black: #353535;
$almost-white: #f7f7f7;
$theme-color: #0d81e0; // If used with text as background both white, black and $almost-black above are valid according to the Web Content Accessibility Guidelines
$gray: #bfbfbf;