
html {
  font-size: 100%;
  font-family: $font-regular;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: $almost-black;
}


body {
  margin: 0;
  background-color: $almost-white;
}

*{
  box-sizing: border-box;
}