.visually-hidden {
	position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  top:-999px;
  left: -999px;
}

.center {
	text-align: center;	
}

.link_look {
    text-decoration: underline;
    color: #1c4bff;
    padding: 4px;

    &:hover{
        cursor: pointer;
        color: #ffffff;
        background: #000;
    }
}